<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamk.ticket.dal.TrainMapper">
	<sql id="train_column">
		id as id,
		gmt_create as gmtCreate,
		gmt_modified as gmtModified,
		train_nick as trainNick,
		description as description,
		status as status
	</sql>

	<sql id="conditions">
		where 1 = 1
		<if test="null != id">
			and id = #{id}
		</if>
		<if test="null != trainNick">
			and train_nick = #{trainNick}
		</if>
		<if test="null != status">
			and status = #{status}
		</if>
		<if test="null != description">
			and description like concat('%', #{description}, '%')
		</if>
		<if test="null != idList">
			and id in
			<foreach collection="idList" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</sql>

	<select id="queryTrain" parameterType="trainQuery" resultType="trainDO">
		select 
		<include refid="train_column" />
		from train
		<include refid="coditions" />
		limit #{start}, #{pageSize}
	</select>

	<insert id="insertTrain" parameterType="trainDO">
		insert into train(gmt_create, gmt_modified, train_nick, status, description) 
			values(now(), now(), #{trainNick}, #{status}, #{description})
	</insert>

	<insert id="batchInsertTrain" paramterType="java.util.List">
		insert into train(gmt_create, gmt_modified, train_nick, status, description) values
		<foreach collection="trainList" item="train" separator=",">
			(now(), now(), #{train.trainNick}, #{train.status}, #{train.description})
		</foreach>
	</insert>

	<update id="updateTrain" paramterType="TrainDO">
		update train 
		set gmtModified = now()
		<if test="null != trainNick">
			, set train_nick = #{trainNick}
		</if>
		<if test="null != status">
			, set status = #{status}
		</if>
		<if test="null != description">
			, set description = #{description}
		</if>
		where id = #{id}
	</update>

	<delete id="deleteTrain" parameterType="TrainQuery">
		delete
		from train
		<include refid="coditions" />
	</delete>
</mapper>